* {
    padding: 0;
    margin: 0;
}

#wrapper {
    background: whitesmoke;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

#mainheader {
    background-color: gainsboro;
    height: auto;
    width: 100%;
    background-color: #27ae60;
}
#mainheader h2 {
    color: white;
    font-family: "garamond", sans-serif;
    padding: 0.1em;
    font-size: 200%;
    margin-left: 2em;
}

#navbar {
    background: #2980b9;
}
#navbar li {
    text-decoration: none;
    display: inline-block;
    
}

#navbar li a {
    text-decoration: none;
    color: white;
    padding: 0 1em 0 1em;
}
#navbar li:hover {
   background: #3498db;
}

section {
    background: white;
    margin: 0.3em 1em;
}
section h3 {
    margin: 0 1em;
}
article p {
    margin: 0 1em;
}

p {
    padding: 0.2em;
}
footer {
    display: block;
    clear: both;
    height: 1.5em;
    background-color: #27ae60;
}
#footertext {
    color: whitesmoke;
    text-align: right;
    margin-right: 2em;
    
}
