/* line 1, ../sass/_layout.scss */
html, body {
  min-height: 100%;
  padding: 0;
}

/* line 6, ../sass/_layout.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", Georgia, Times, serif;
}

/* line 15, ../sass/_layout.scss */
p, a, div {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/style.scss */
a, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* line 11, ../sass/style.scss */
body {
  background-color: #005A31;
}

/* line 15, ../sass/style.scss */
#mainheader {
  background-color: #005A31;
}

/* line 19, ../sass/style.scss */
.mainheader-text {
  position: relative;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  color: #CBE32D;
}
/* line 27, ../sass/style.scss */
.mainheader-text h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 32, ../sass/style.scss */
.mainheader-text h5 {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}
/* line 37, ../sass/style.scss */
.mainheader-text img {
  background-color: white;
}

/* line 42, ../sass/style.scss */
.wrapper, .course-container .course-wrapper, .schedule-container .schedule-wrapper, .link-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.wrapper:after, .course-container .course-wrapper:after, .schedule-container .schedule-wrapper:after, .link-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 45, ../sass/style.scss */
.course-container {
  background-color: #A8CD1B;
}
/* line 47, ../sass/style.scss */
.course-container .course-wrapper {
  padding: 1.69492%;
  padding-bottom: 0;
}
/* line 53, ../sass/style.scss */
.course-container .course-box {
  width: 49.15254%;
  float: left;
  margin-bottom: 1.69492%;
  background-color: whitesmoke;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
/* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.course-container .course-box:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.course-container .course-box:nth-child(2n + 2) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 700px) {
  /* line 53, ../sass/style.scss */
  .course-container .course-box {
    width: 23.72881%;
    float: left;
  }
  /* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
  .course-container .course-box:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
  .course-container .course-box:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
  .course-container .course-box:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
  .course-container .course-box:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 64, ../sass/style.scss */
.course-container .course-box p {
  margin: 0;
}
/* line 67, ../sass/style.scss */
.course-container .course-box .subtitle {
  border-bottom: 1px solid black;
}
/* line 71, ../sass/style.scss */
.course-container .course-box .course-info p {
  background-color: white;
}
/* line 75, ../sass/style.scss */
.course-container .course-box .course-info .subtitle {
  background-color: whitesmoke;
}
/* line 81, ../sass/style.scss */
.course-container .course-title p, .course-container .course-title h3 {
  margin: 0;
}
/* line 86, ../sass/style.scss */
.course-container .course-links a {
  width: 100%;
}

/* line 92, ../sass/style.scss */
.schedule-container {
  background-color: #A8CD1B;
}
/* line 94, ../sass/style.scss */
.schedule-container .schedule-wrapper {
  overflow: hidden;
  *zoom: 1;
  padding: 0.84746% 1.69492%;
}
/* line 98, ../sass/style.scss */
.schedule-container .schedule-wrapper img {
  width: 100%;
}

/* line 106, ../sass/style.scss */
.link-wrapper {
  color: #005A31;
  display: -webkit-flex;
  display: flex;
  padding: 0 1.69492%;
}
/* line 111, ../sass/style.scss */
.link-wrapper h3 {
  margin-right: 1rem;
}
/* line 114, ../sass/style.scss */
.link-wrapper * {
  margin: 0;
  line-height: 3rem;
  -webkit-flex: 1;
  flex: 1;
}
/* line 119, ../sass/style.scss */
.link-wrapper a {
  color: #005A31;
  text-align: right;
}

/* line 124, ../sass/style.scss */
.ntnu-color {
  background-color: #CBE32D;
}

/* line 127, ../sass/style.scss */
footer {
  color: #CBE32D;
}
/* line 129, ../sass/style.scss */
footer h4 {
  float: right;
  margin-right: 1.69492%;
}
